.networkLayout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 8px;
}

.selectField {
  color: #266cd3;
  height: 40px;
}

.selectFieldWithIcon {
  width: 45px;
  color: #fff;
}

.selectFieldIconWrapper {
  display: inline-block;
  width: 45px;
  position: relative;
}

.selectFieldIcon {
  font-size: 22px;
}

.selectFieldIconCover {
  position: absolute;
  top: 12px;
  left: 0;
  height: 40px;
  width: 45px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.btnNoSpacing {
  padding: 0;
}

.balanceValue {
  font-weight: 500;
  font-size: 48px;
}

.balanceLabel {
  font-weight: 500;
  font-size: 20px;
  margin-top: 18px;
  display: inline-block;
}

.accountLayout {
  background: #f8f8f8;
  padding: 16px 24px 2px;
  border-radius: 4px;
  position: relative;
}

.detailsContainer {
  width: 70%;
  word-wrap: break-word;
}

.spaceIndent {
  margin-top: -28px;
}